// html tags

body {
    font-family: 'Lato', sans-serif;
}

img {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #212529;
}

a:hover {
    color: $color-highlight;
}

li {
    list-style: none;
}

code {
    display: inline-block;
    color: #198754;
    background-color: #F8F9FA;
    padding: 1px;
}

// icon

.material-icons {
    vertical-align: middle;
}
.material-symbols-rounded {
    vertical-align: middle;
}